<div id="add">
</div>

<div id="form">
</div>

<div id="table">
</div>

<pre id="results">{{results}}</pre>



<form id="formOld" action="/safe-update" method="get">
<fieldset>
<legend>edit</legend>
  {{#each src}} 
<input name="table" value={{table}} class="hidden-table" type="hidden">
<div id="input">
<label>
<span class="name" style="width: 65px;">url</span>
<span> ⇢ </span>
<input size="20" name="url" id="url" type="text_input" value={{url}}>
</label>
<label>
<span class="name" style="width: 65px;">type</span>
<span> ⇢ </span>
<input size="20" name="type" id="type" type="text_input" value="{{type}}">
</label>
{{/each}} 

    <label id="program">
        <span class="name">program</span>
        <span> ⇢ </span>
        <select id="pid" name="program"> 
            {{#each program}}
                <option  value="{{name}}">{{name}}</option>
            {{/each}}
        </select>
    </label>

  {{#each src}} 

<input id="table" name="table" value={{table}} class="hidden-table" type="hidden">
<input id="id" name="id" value={{id}} class="hidden" type="hidden">
<input class="submit" value="Submit" id="submit" type="submit">
</fieldset>
</form>

{{/each}} 

<h2>{{table}}</h2>
  {{#each src}} 
<table>
  <tr> 
    <th>url</th>
    <th>type</th> 
    <th>program</th> 
  </tr> 
  <tr> 
        <td><a href="{{url}}">{{url}}</a></td> 
        <td>{{type}}</td> 
        <td>{{name}}</td> 
  </tr> 
    </form>
    </td>
  {{/each}} 
</table> 

<script>

// wait until the DOM before starting buttons
document.addEventListener('DOMContentLoaded', bindButtons);

function bindButtons(){

    let buttonsSubmit = document.getElementsByClassName('submit');
    let buttonHidden = document.getElementById("id");

            console.log("adding ev to submit button");
    for (let i = 0; i < buttonsSubmit.length; i++) {
        buttonsSubmit[i].addEventListener('click', function(event){;
            console.log("adding ev to submit button");
            var req = new XMLHttpRequest();
            event.preventDefault();


            let userurl = document.getElementById("url").value;
            let userType = document.getElementById("type").value;
            let userPid = document.getElementById("pid").value;
console.log("userPid: ", userPid);
            //req.open('GET', '/safe-update' + '?table=' + 'src' + '&id=' + buttonHidden.value + '&name=' + userName +"&url=" + userurl, true);

            req.open('GET', '/safe-update' + '?table=' + 'src' + '&id=' + buttonHidden.value + "&url=" + userurl + "&type=" + userType + "&pid=" + userPid, true);
            console.log('/safe-update' + '?table=' + 'src' + '&id=' + buttonHidden.value + "&url=" + userurl + "&type=" + userType + "&pid=\"" + userPid + "\"");

            event.preventDefault();
            req.onload = function() {
                let res = req.responseText;
                window.location.href = '/{{table}}';
            }

            req.send(null);

            
        });
    }
}
</script>


