{{error}}


<h2>program </h2>
<p>⇢ the whole shebang</p>
<br />
<br />


<form action="/insert" method="get">
<fieldset>
  <legend>add new program</legend>
    <label>
      <span class="name">name</span>
      <span> ⇢ </span>
      <input size="20" name="name" placeholder="Coolbot" id="name" type="text_input">
    </label>
    <label>
        <span class="name">purpose</span>
        <span> ⇢ </span>
        <input size="20" name="purpose" placeholder="To be a cool robot." id="purpose" type="text_input">
    </label>
    <label>
        <span class="name">url</span>
        <span> ⇢ </span>
        <input size="20" name="url" placeholder="www.coolbot.com" id="url" type="text_input">
    </label>
    <label>
        <span class="name">version</span>
        <span> ⇢ </span>
        <input size="20" name="version" placeholder="0.0.1" id="version" type="text_input">
    </label>
    <label>
        <span class="name"  >license</span>
        <span> ⇢ </span>
        <input size="20" name="license" placeholder="MIT" id="license" type="text_input">
    </label>
  <input class="submit" value="Submit" type="submit">
</fieldset>
</form>


<table>
  <tr> 
    <th>name</th> 
    <th>purpose</th> 
    <th>url</th>
    <th>version</th>  
    <th>license</th>  
  </tr> 
  {{#each program}} 
  <tr> 
    <td>{{name}}</td> 
    <td>{{purpose}}</td> 
    <td><a href="{{url}}">{{url}}</a></td> 
    <td>{{version}}</td>
    <td>{{license}}</td>
    <td>
    <form action="/edit-program" method="get">
    <input value="Edit" class="buttonEdit" type="submit">
    <input name="table" value="program" class="hidden-table" type="hidden">
    <input name="id" value={{id}} class="hidden" type="hidden">
    </form>
    <form action="/delete" method="get">
    <input value="Delete" class="buttonDelete" type="submit">
    <input name="id" value={{id}} class="hidden-id" type="hidden"></form>
    </td>
  </tr> 
  {{/each}} 
</table> 



<script>
// wait until the DOM before starting buttons
document.addEventListener('DOMContentLoaded', bindButtons);
document.addEventListener('DOMContentLoaded', addsrc);
document.addEventListener('DOMContentLoaded', addauthor);
document.addEventListener('DOMContentLoaded', addos);

let srccount = 0;

function addsrc(){

    let adds = document.getElementsByClassName('addsrc');
    let srcparent = document.getElementById('srcparent');

    for (let i = srccount; i < adds.length; i++) {
        adds[i].addEventListener('click', function(event){

        let addold = document.getElementById('addsrc');
        let src = document.getElementById('src');
        console.log("src: ", src);

        let addnew = src.cloneNode(true);
        srcparent.appendChild(addnew);
        srccount += 1;
        addsrc(srccount);

        });
    }
}

let authorcount = 0;

function addauthor(){

    let adds = document.getElementsByClassName('addauthor');
    let authorparent = document.getElementById('authorparent');

    for (let i = authorcount; i < adds.length; i++) {
        adds[i].addEventListener('click', function(event){

        let addold = document.getElementById('addauthor');
        let author = document.getElementById('author');
        console.log("author: ", author);

        let addnew = author.cloneNode(true);
        authorparent.appendChild(addnew);
        authorcount += 1;
        addauthor(authorcount);

        });
    }
}

let oscount = 0;

function addos(){

    let adds = document.getElementsByClassName('addos');
    let osparent = document.getElementById('osparent');

    for (let i = oscount; i < adds.length; i++) {
        adds[i].addEventListener('click', function(event){

        let addold = document.getElementById('addos');
        let os = document.getElementById('os');
        console.log("os: ", os);

        let addnew = os.cloneNode(true);
        osparent.appendChild(addnew);
        oscount += 1;
        addos(oscount);

        });
    }
}

function bindButtons(){

    let buttonsSubmit = document.getElementsByClassName('submit');

    for (let i = 0; i < buttonsSubmit.length; i++) {
        buttonsSubmit[i].addEventListener('click', function(event){
            //console.log("adding ev to submit button");
            var req = new XMLHttpRequest();
            event.preventDefault();

            let userName = document.getElementById("name").value;
            //console.log("@@ userName:", userName);

            let userpurpose = document.getElementById("purpose").value;
            //console.log("@@ userpurpose:", userpurpose);
            
            let userurl = document.getElementById("url").value;

            let userversion = document.getElementById("version").value;
            //console.log("@@ userversion:", userversion);

            let userlicense = document.getElementById("license").value;

            //console.log("@@ userlicense:", userlicense);

            //let userretrieved = document.getElementById("retrieved").value;
            //console.log("@@ userretrieved:", userretrieved);
            //console.log('/insert?name=' + userName + "&purpose=" + userpurpose + "&version=" + userversion + "&license=" + userlicense + "&retrieved=" + userretrieved);
            req.open('GET', '/insert?table=program&name= ' + userName + "&purpose=" + userpurpose + "&url=" + userurl + "&version=" + userversion + "&license=" + userlicense + "&pid=" + 1, true);
            req.onload = function() {
                let res = req.responseText;
                //update();
                location.reload();
            }

            event.preventDefault();
            req.send(null);

            
        });
    }

        // hidden row id
        let buttonsHidden = document.getElementsByClassName("hidden");


        let buttonsDelete = document.getElementsByClassName("buttonDelete");

console.log("length: " , buttonsDelete.length);
        for (let i = 0; i < buttonsDelete.length; i++) {
        console.log(buttonsHidden[i]);
        console.log("abc");
        buttonsDelete[i].addEventListener('click', function(event){;
            console.log("adding ev to delete button");
            event.preventDefault();
            var req = new XMLHttpRequest();

            console.log("/delete?table={{table}}&id=" + buttonsHidden[i].value);
            req.open('GET', '/delete?table={{table}}&id=' + buttonsHidden[i].value, true);

            req.onload = function() {
                let res = req.responseText;
                location.reload();
            }

            req.send(null);
        });
        };
}


            
</script>

<!--<script src="tabler.js"></script>-->


